/ToursApplication/DataBase/bin/
/ToursApplication/DataBase/obj/
/ToursApplication/Logic/bin/
/ToursApplication/Logic/obj/
/ToursApplication/ToursApplication/bin/
/ToursApplication/ToursApplication/obj/
/ToursXamarinApp/DataBase/bin/
/ToursXamarinApp/DataBase/obj/
/ToursXamarinApp/ToursXamarinApp/ToursXamarinApp/bin/
/ToursXamarinApp/ToursXamarinApp/ToursXamarinApp/obj/
/ToursXamarinApp/ToursXamarinApp/ToursXamarinApp.Android/bin/
/ToursXamarinApp/ToursXamarinApp/ToursXamarinApp.Android/obj/